* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/image/background.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
  }
  
  .navbar {
    height: 12%;
    display: flex;
    align-items: center;
  }
  
  nav {
    flex: 1;
    text-align: right;
  }
  
  nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 35px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 13px;
  }
  
  .row {
    display: flex;
    height: 88%;
    align-items: center;
  }
  
  .col {
    flex-basis: 50%;
  }
  
  h1 {
    color: white;
    font-size: 100px;
  }
  
  h5 {
    color: white;
    text-shadow: 0 0 5px #999;
  }
  
  a {
    color: whitesmoke;
  }
  
  p {
    color: white;
    font-size: 12px;
    line-height: 20px;
  }
  
  button {
    width: 200px;
    height: 50px;
    color: white;
    font-size: 15px;
    padding: 12px 0;
    background: rgb(27, 25, 25);
    border: 0;
    border-radius: 25px;
    outline: none;
    margin-top: 30px;
  }
  
  .card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-size: cover;
    transition: transform 0.5s;
  
  }
  
  .burger1 {
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(/image/burger1.jpg);
  }
  .burger2 {
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(/image/burger2.jpg);
  }.cwings {
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(/image/wing1.jpg);
  }.awings {
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(/image/wing3.jpg);
  }
  .card:hover{
    transform: translateY(-10px);

}